@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20% 0 0 0;
    background-color: #2889f7;
}

.blink {
    animation: blinker 1.8s linear infinite;
    color: white;
    font-size: 80px;
    font-weight: bold;   
    letter-spacing: 10px; 
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.glow { text-shadow: 0 0 10px #fff700 }